/*font
font-family: 'Nunito', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Ubuntu', sans-serif;*/

.heading {
    font-family: 'Rowdies', cursive;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    background-color: #dc3545;
}
  
/* Override Bootstrap Navbar hover text color */
.navbar .navbar-nav .nav-item .nav-link:hover {
    --bs-btn-hover-color: #dc3545 !important;
}

/* Override the focus outline color for input fields to danger */
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 15, 33, 0.25);
    border-color: #dc3545;
}
  
.text {
    font-family: 'Nunito', sans-serif;
}

#about {
    width: auto;
}

.ci {
    width: 20em;
    height: 30em;
}

.citext {
    margin-left: 10em;
}